<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Savamala</title>
    
    <link href="~/Content/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen">

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    
    <script>
        var activeTable = 0;
    </script>
    
</head>
<body>
    <script src='http://code.jquery.com/jquery-1.9.1.min.js' type='text/javascript'></script>
    <script src="/Scripts/jquery.reel.js"></script>
    <script src="/Scripts/bootstrap.min.js"></script>
    <script src="/Scripts/tables.js"></script>

    <script type="text/javascript" src="~/Scripts/bootstrap-datetimepicker.min.js" charset="UTF-8"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap-datetimepicker.rs-latin.js" charset="UTF-8"></script>

<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Savamala", "Index", "Home", new {area = ""}, new {@class = "navbar-brand"})
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Pocetna", "Index", "Home")</li>
                <li>@Html.ActionLink("Prikaz Rezervacija", "About", "Home")</li>
                <li>@Html.ActionLink("Login", "Login", "Home")</li>
                
                <li>
                                 
                        
                    
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="container body-content">
    
    @RenderBody()
    <hr/>
    <footer>
        <p>&copy; @DateTime.Now.Year -Savamala rezervacije</p>
    </footer>
</div>

@*@Scripts.Render("~/bundles/jquery")*@
@*@Scripts.Render("~/bundles/bootstrap")*@
@*@RenderSection("scripts", required: false)*@
    



</body>
</html>
